/*! base start */

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", serif;
}

body{
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
}
button:disabled{
  opacity: 0.4 !important;
  cursor: no-drop !important;
}

button:disabled button:hover{
  background-color: #333;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  border: 1px solid black;
  font-weight: 500;
  transition: 0.2s ease all;
  border-radius: 8px;
}

.btn-sm {
  line-height: 20px;
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 8px;
}
.btn-sm:hover {
  background-color: #333;
  color: white;
  border-color: black;
}

.btn-lg {
  line-height: 45px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.btn-lg:hover {
  background-color: #333;
  color: white;
}


.btn-primary {
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #333;
  color: white;
  border-color: black;
}

textarea{
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea ;
  padding: 15px 8px 12px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: grey ;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

/*! base end */

/* JavaScript ile seçilen ödeme seçeneği için stil */
.payment-option.selected {
  border-color: #007bff; /* Seçildiğinde mavi kenarlık */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4); /* Daha belirgin gölge */
  background-color: #eaf5ff; /* Hafif mavi arka plan */
}
/* responsive*/

@media (max-width: 1200px) {
    .container {
      max-width: 992px;
    }
  }
  
  @media (max-width: 992px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 576px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      max-width: 400px;
    }
  }
  
  @media (max-width: 420px) {
    .container {
      max-width: 350px;
    }
  }
  
