.cart-page {
  margin: 30px;
}

.cart-page-wrapper {
  display: flex;
  justify-content: space-between;
} 

/*! cart form start */
 .cart-page .cart-form {
  flex-basis: 60%;
}

/* progress start */

 .cart-page .free-progress-bar {
  border: 1px solid #dee0ae;
  padding: 20px;
}

.cart-page .progress-bar-title {
  font-size: 12px;
}

.cart-page .progress-bar-title strong {
  color: #ee403e;
}

.cart-page .progress-bar {
  width: 100%;
  height: 6px;
  background-color: #f2f3f5;
  border-radius: 10px;
  margin-top: 8px;
  position: relative;
  z-index: -1;
}

.cart-page .progress-bar span {
  background-color: gold;
  width: 50%;
  height: 6px;
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: 0;
  z-index: 1;
}  

/* progress end */

/*TODO table start */
 .cart-form table img {
  width: 60px;
}

.cart-form table .shop-table-wrapper {
    display: block !important;
    overflow-x:auto !important;
  }

.cart-form table > :not(caption) > * > * {
  padding: 8px 0;
}

.cart-form table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  font-size: 14px;
  min-width: 595px;
}

.cart-form table th {
  text-align: start;
  font-size: 14px;
  font-weight: 600;
}

.cart-form table .product-quantity,
.cart-form table .product-subtotal {
  text-align: center;
}

.cart-form table tbody {
  border-top: 1px solid #dee0ae;
}

.cart-form table tbody .cart-item {
  border-bottom: 1px solid #dee0ae;
}

.cart-form table tbody .cart-image {
  position: relative;
}
.cart-form table tbody i {
  position: absolute;
  top: 2px;
  left: -6px;
  background-color: gold;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 12px;
  cursor: pointer;
} */
/*TODO table end */

/*TODO actions start */
 .actions-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.actions-wrapper .coupon {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.actions-wrapper .coupon button {
  background-color: black;
  color: #fff;
  margin: 10px 10px;
  width: 180px;
  height: 35px;
  display: flex;              /* Flexbox aktif */
  align-items: center;        /* Dikey hizalama */
  justify-content: center;  
}

.actions-wrapper .coupon input {
  height: 100%;
}

.actions-wrapper .update-cart button {
  background-color: black;
  color: #fff;
  border-color: #fff;
  width: 180px;
  height: 35px;
  display: flex;              /* Flexbox aktif */
  align-items: center;        /* Dikey hizalama */
  justify-content: center;  
} 
/*TODO actions end */

/*? collaterals start */
 .cart-collaterals {
  flex: 0 0 300px;
  border: 1px solid #dee0ae;
  padding: 30px;
}

.cart-collaterals table {
  width: 100%;
  border-collapse: collapse;
}

.cart-collaterals h2 {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee0ae;
}

.cart-collaterals table th,
.cart-collaterals table td {
  font-size: 14px;
  font-weight: 400;
}

.cart-collaterals table tr:not(:last-child) {
  border-bottom: 1px solid #dee0ae;
}

.cart-collaterals table th {
  text-align: start;
  padding: 20px 0 10px 0;
}

.cart-collaterals table td {
  text-align: end;
  padding: 20px 0 10px 0;
}

.cart-collaterals table ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cart-collaterals table ul label {
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}

.cart-collaterals table ul a {
  color: gold;
  font-weight: 500;
}

.cart-collaterals table strong {
  font-size: 18px;
  font-weight: 700;
}

.cart-collaterals .checkout button {
  margin-top: 30px;
  background-color: black;
  color: #fff;
  border-color: #fff;
  width: 280px;
  height: 35px;
  display: flex;              /* Flexbox aktif */
  align-items: center;        /* Dikey hizalama */
  justify-content: center; 
} 
/*? collaterals end */

/*! cart form end */

/* responsive */
 @media (max-width: 992px) {
    .cart-page-wrapper {
      flex-direction: column !important;
      row-gap: 30px !important;
    }
    .shop-table-wrapper {
        overflow-x: auto !important;
    }
}