.blog-list .blog-image {
    display: flex;
}

.blog-list .blog-image img{
    width: 100%;
}

.blog-item .blog-info{
    padding: 30px 10px 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 35% );
}

.blog-item .blog-info-top{
    font-size: 14px;
    color: #b9ba98;
    margin-bottom: 10px;
}

.blog-item .blog-info-center a{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.blog-item .blog-info-center1 a{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.blog-item .blog-info-bottom a{
    font-size: 14px;
    border-bottom: 1px solid ;
    padding-bottom: 4px;
    margin-top: 10px;
    display: inline-block;
    transition: .2s ease color;
}

.blog-item .blog-info-bottom a:hover{
    color: darkcyan;
}
