.capmaign-single{
    background-image: url(../../img/single-campaign.png);
    background-attachment: fixed;
    padding: 140px 15px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.capmaign-single .campaign-wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capmaign-single .campaign-wrapper h2{
    font-size: 25px;
    color: white;
}

.capmaign-single .campaign-wrapper strong{
    font-size: 55px;
    font-weight: 600;
    margin: 20px 0;
}

.capmaign-single .campaign-wrapper span{
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: white;
}

.capmaign-single .campaign-wrapper > a{
    background-color: black;
    margin-top: 60px;
}


.capmaign-single .campaign-wrapper > a:hover{
    background-color: white;
    border-color: darkcyan;
    color: darkcyan;
}

.capmaign-single .campaign-wrapper .btn-lg{
    color: #fed84d;
    background-color: black;
    border-color: black;
}

.capmaign-single .campaign-wrapper .btn-lg:hover{
    background-color: #333;
    border-color: black;
    color: #fed84d;
}
