.categories .category-item{
    background-color: #f5f5f5;
    border-radius: 20px;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories .category-item a{
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
}

.categories .category-item .category-img{
    width: 100%;
    transition: transform ease .2s;
    border-radius: 20px;
}

.categories .category-item .category-img:hover{
    transform: scale(1.1);

}
